/*#contenedor {
  margin-top: 70px;
  padding: 15px;
}

mat-grid-list {

}

mat-grid-tile {

}

mat-grid-tile div:nth-child(1) {
  width: 100%;
  height: 275px;
  background-size: cover;
}

mat-grid-tile div:nth-child(2) {
  text-align: center;
  margin-top: 5px;
}
*/
