<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué es?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi, sint tenetur accusantium pariatur provident voluptate distinctio quidem maxime inventore. Itaque placeat voluptatibus ullam nostrum. Laudantium ab minus enim officiis?</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué puedo ver?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi, sint tenetur accusantium pariatur provident voluptate distinctio quidem maxime inventore. Itaque placeat voluptatibus ullam nostrum. Laudantium ab minus enim officiis?</p>
  </mat-expansion-panel>

  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿En qué dispositivos lo puedo reproducir?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi, sint tenetur accusantium pariatur provident voluptate distinctio quidem maxime inventore. Itaque placeat voluptatibus ullam nostrum. Laudantium ab minus enim officiis?</p>
  </mat-expansion-panel>

  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Es adecuado para toda la familia?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi, sint tenetur accusantium pariatur provident voluptate distinctio quidem maxime inventore. Itaque placeat voluptatibus ullam nostrum. Laudantium ab minus enim officiis?</p>
  </mat-expansion-panel>
</mat-accordion>
