mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0 40px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
  transition: background-image 0.5s ease-out;
}

.example-form {
  display: block;
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
}

.scrolled {
  background-color: rgb(32, 33, 36);
  background-image: none;
  transition: background-image 0.5s ease-out;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 70px;
  height: 55px;
}

@media (max-width: 767px) {
  mat-toolbar {
    padding: 10px;
  }
}
