<mat-toolbar [ngClass]="{'mat-elevation-z1' : isScrolled, 'scrolled': isScrolled}">
  @if (isHandset$ | async) {
    <div>
      <img src="../../../assets/img/logo.png" style="width: 70px; height: 55px;">
    </div>

    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  }

  @if (!(isHandset$ | async)) {
    <img routerLink="/browse" src="../../../assets/img/logo.png" style="width: 70px; height: 55px; cursor: pointer;">
    <a mat-button routerLink="/browse" ariaCurrentWhenActive="page">Inicio</a>
    <a mat-button routerLink="/browse/peliculas" ariaCurrentWhenActive="page">Peliculas</a>
    <a mat-button routerLink="/browse/series" ariaCurrentWhenActive="page">Series</a>
  }
  <span class="example-spacer"></span>

  <form class="example-form" role="search" #searchForm="ngForm" (ngSubmit)="onSearch(searchForm.value.search)">
    <mat-form-field class="example-full-width" color="primary" appearance="outline">
      <input type="text" matInput placeholder="Buscar película" name="search" ngModel>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <button mat-icon-button>
    <mat-icon matBadge="3" matBadgeColor="warn" matBadgeSize="small" aria-hidden="false">notifications</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account">
      <mat-icon>person</mat-icon>
      <span>Cuenta</span>
    </button>
    @if (authService.isAdmin()) {
      <button mat-menu-item [routerLink]="'/admin'">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Administrador</span>
      </button>
    }
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!--
  <form class="example-form" role="search">
    <mat-form-field class="example-full-width" color="primary">
      <input [ngModel]="searchTerm" (ngModelChange)="onSearch($event)" type="text" matInput placeholder="Buscar película" name="search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
-->
