.dialog-container {
  background-color: rgb(32, 33, 36);
}

h2 {
  margin-top: 30px;
}

mat-form-field, button {
  width: 100%;
}

.button-container {
  margin-top: 180px;
}

.button-container button {
  border-radius: 0px;
  height: 40px;
}

a {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}









::ng-deep .snackbar {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: white;
  text-align: center;
}
