<app-header-browse/>
<app-sidenav>
  <div class="container">
    <h1 align="center" style="margin-top: 100px;">Cuenta</h1>

    <div class="grid">
      <div class="grid-item">
        <img src="../../../assets/img/profile.png">
      </div>

      <div class="grid-item">
        <span>Nombre</span>
        <p>{{ usuario.nombre }}</p>

        <span>Apellidos</span>
        <p>{{ usuario.apellidos }}</p>

        <span>Correo</span>
        <p>{{ usuario.correo }}</p>
      </div>
  </div>
  </div>
</app-sidenav>
<app-footer/>
