<div id="contenedor">
  <swiper-container autoplay-delay="1500" allow-touch-move="false" loop="true" slides-per-view="3" speed="1000" [breakpoints]="breakpoints">
    <swiper-slide>
      <div class="poster" style="background-image: url(../../../assets/img/reino\ poster.jpg);">

      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="poster" style="background-image: url(../../../assets/img/wonka\ poster.jpg);">

      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="poster" style="background-image: url(../../../assets/img/dune\ poster.jpg);">

      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="poster" style="background-image: url(../../../assets/img/boy7\ poster.jpg);">

      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="poster" style="background-image: url(../../../assets/img/astra\ poster.jpg);">

      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="poster" style="background-image: url(../../../assets/img/aqua\ poster.jpg);">

      </div>
    </swiper-slide>
  </swiper-container>

  <div class="info-container">
    <h1>Empieza a disfrutar de películas premiadas, series de éxito y mucho más.</h1>
    <h2>¿Quieres ver algo ya?</h2>
    <a mat-fab extended routerLink="/registro">REGÍSTRATE</a>
  </div>
</div>

<div class="container">
  <div class="info"></div>
</div>
