footer {
  margin-top: 100px;
  background-color: rgb(32, 33, 36);
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer div {
  margin: 10px 0;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

img {
  width: 60px;
  height: 50px;
}

a {
  margin: 12px 20px;
  color: lightgray;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

p {
  color: lightgrey;
  margin: 10px 20px;
}

span {
  color: white;
  font-weight: 590;
}

@media (max-width: 767px) {
  .links {
    flex-direction: column;
    margin: 20px 0;
  }

  a {
    margin: 8px 0;
  }
}
